<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isg.fpgkb.mapper.Relation_spMapper">
  <resultMap id="BaseResultMap" type="com.isg.fpgkb.dto.Relation_sp">
    <id column="spid" jdbcType="VARCHAR" property="spid" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from relation_sp
    where spid = #{spid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.isg.fpgkb.dto.Relation_sp">
    insert into relation_sp (spid, sid, pid
      )
    values (#{spid,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.isg.fpgkb.dto.Relation_sp">
    update relation_sp
    set sid = #{sid,jdbcType=VARCHAR},
      pid = #{pid,jdbcType=VARCHAR}
    where spid = #{spid,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select spid, sid, pid
    from relation_sp
    where spid = #{spid,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select spid, sid, pid
    from relation_sp
  </select>
</mapper>